body {
  margin: 0;
  font-family: serif, sans-serif;
  background-color: #fff;
}

h2 {
  color: #3f2806;
  font-size: calc(38em / 19);
  line-height: 40px;
}

h2 span {
  color: #e1361f;
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
}

p {
  color: #3f2806;
}
